<% if flash.has?(:message)%>
  <p id="main-view-message"><%=flash[:message]%></p>
<% end %>

<section class="info-sections homepage-section">
  <div class="profile-picture"></div>
  <h2>Welcome, <%=@user.username%></h2>
  <p>Let's connect with some contacts.</p>

  <div class="option-lockup">
    <a href="/interactions/new"><button class="buttons" id="add-interaction-button">Log a recent interaction</button></a>
    <a href="/contacts/new"><button class="buttons" id="create-contact-button">Create a new contact</button></a>
    <a href="/plans/new"><button class="buttons" id="make-plan-button">Make a new plan</button></a>
  </div>

  <div class="main-wrappers interaction-wrapper">
    <h3 id="most-recent-header">Most Recent Interactions</h3>
    <% if current_user.last_interactions.empty? %><p class="list-info">You don't have any interactions, at the moment!</p> <% end %>

    <% @ordered_interactions.each do |interaction| %>
      <div class="list-divs interactions-list">
        <h4 class="list-titles"><a href="/contacts/<%=interaction.contact.id%>"><%=interaction.contact.name%></a></h4>
        <p class="list-info"><%=interaction.date%></p>
        <p class="list-info"><a href="/interactions/<%=interaction.id%>"><%=interaction.details%></a></p>
        <% if interaction.date == nil && interaction.details == nil %><p class="list-info"><a href="/interactions/<%=interaction.id%>">*There isn't any information about this interaction! Click to add some details.</a></p><% end %>
      </div>
    <% end %>

  </div>
</section>
