<% if flash.has?(:message)%>
  <p id="main-view-message"><%=flash[:message]%></p>
<% end %>

<section class="info-sections contacts-section">
  <div class="profile-picture"></div>
  <h2><%=current_user.username%>'s contacts</h2>
  <p>They certainly are interesting characters...</p>

  <div class="option-lockup">
    <a href="/contacts/new"><button class="buttons" id="create-contact-button">Create a new contact</button></a>
  </div>

  <div class="main-wrappers">
    <h3>Contacts</h3>

    <% current_user.contacts.each do |contact| %>
      <div class="list-divs interactions-list">
        <h4 class="list-titles"><a href="/contacts/<%=contact.id%>"><%=contact.name%></a> <%if contact.category%><%="(#{contact.category})"%><%end%></h4>
        <%if contact.location%><p class="list-info">Location: <%=contact.location%></p><%end%>
        <%if contact.email%><p class="list-info"><%=contact.email%></p><%end%>
        <%if contact.phone_number%><p class="list-info"><%=contact.phone_number%></a></p><%end%>
        <%if contact.expertise%><p class="list-info">Expertise: <%=contact.expertise%></a></p><%end%>
        <%if contact.preferences%><p class="list-info">Preferences: <%=contact.preferences%></a></p><%end%>
        <%if !contact.last_interactions.empty?%><p class="list-info">Last Interaction was on: <%=contact.last_interactions.last.date%></a></p><%end%>
        <a href="/contacts/<%=contact.id%>/edit"><button class="first-contact-button buttons contacts-buttons">Edit Contact</button></a>
        <a href="/contacts/<%=contact.id%>/delete"><button class="buttons contacts-buttons">Delete Contact</button></a>
      </div>
    <% end %>

  </div>
</section>
